.contador {
  min-width: 150px;
  height: 150px;
  font-size: 6em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 1px solid white;
  margin-bottom: 40px;
}
